<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Inet Banking App">

<listeners>
   <listener class-name="com.inetbanking.utilities.Reporting" />
</listeners>
<test name="Banking Test">
<parameter name="browser" value="chrome"></parameter>
<classes>
<!--  <class name="com.inetbanking.testCases.TC_loginTest_001"></class>
<class name="com.inetbanking.testCases.TC_LoginDDT_002"></class>
<class name="com.inetbanking.testCases.TC_addCustomerTest_003"></class>-->
<class name="com.inetbanking.testCases.TC_editCustomerTest_004"></class>
<class name="com.inetbanking.testCases.TC_deleteCustomerTest_005"></class>
</classes></test>
</suite>
